[submodule "reach-c-stack"]
	path = reach-c-stack
	url = ../reach-c-stack

[submodule "reach-util"]
	path = reach-util
	url = ../reach-util
[submodule "reach-protobuf"]
	path = reach-protobuf
	url = git@github.com:cygnus-technology/reach-protobuf.git
