[submodule "reach_proto"]
	path = reach_proto
	url = ../reach-protobuf
[submodule "reach-c-stack"]
	path = reach-c-stack
	url = https://github.com/cygnus-technology/reach-c-stack
[submodule "reach-protobuf"]
	path = reach-protobuf
	url = git@github.com:cygnus-technology/reach-protobuf.git
